form#header-search-bar {
  position: absolute;
  width: 100%;
  background-color: white;

  display: flex;
  align-items: center;
  gap: 14px;

  padding: 14px;
  border: 1px solid #eae9e9;
  border-radius: 14px;

  animation: fade 0.1s backwards;

  > svg {
    font-size: 20px;
    color: #dad1d1;
  }

  > input {
    flex-grow: 1;
    border: none;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 5px;

    &::placeholder {
      color: #dad1d1;
    }

    &:focus {
      outline: 1px solid #dad1d1;
    }
  }

  @keyframes fade {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
  }
}
