#home {
  color: #413d3d;
  display: flex;
  flex-direction: column;
  gap: 30px;
  min-height: 100vh;

  #welcome {
    font-size: 20px;
    letter-spacing: 1px;

    > span {
      display: inline-block;
      color: #908888;
      font-size: 14px;
      letter-spacing: 1px;
      line-height: 22px;
      width: 310px;
    }
  }
}
