div#food-modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: #ff4f4f;
  z-index: 1;
  padding: 48px 14px;
  overflow-y: scroll;

  > header.food-header {
    width: 100%;
    color: #ffffff;
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    > button.close-modal {
      color: #ffffff;
      font-size: 18px;
      height: 100%;
      vertical-align: center;

      border: none;
      outline: none;
      background-color: transparent;
      cursor: pointer;

      > svg {
        font-size: 20px;
      }
    }

    > span {
      font-size: 16px;
    }

    > svg {
      font-size: 20px;
    }
  }

  > div.food-content {
    position: absolute;
    top: 227px;
    left: 0;
    background-color: #ffffff;
    border-radius: 30px 30px 0 0;
    width: 100%;
    min-height: calc(100% - 227px);
    padding: 0 14px;

    display: flex;
    flex-direction: column;
    gap: 30px;

    > div.food-image {
      width: 260px;
      height: 260px;
      background-color: #f6e7e7;
      border-radius: 50%;
      margin: -130px auto 0;
    }

    > div.food-infos {
      margin-top: 20px;

      display: flex;
      flex-direction: column;
      align-items: center;

      > h2 {
        font-size: 20px;
      }

      span {
        font-size: 12px;
        font-weight: 500;
        color: #908888;
        margin-top: 8px;

        > svg {
          color: #dad1d1;
          font-size: 14px;
        }
      }

      > p {
        margin-top: 14px;

        > svg {
          font-size: 18px;
        }
      }
    }

    > div.food-description {
      min-height: 100px;

      display: flex;
      flex-direction: column;
      gap: 20px;

      span {
        font-size: 12px;
      }
    }

    > div.food-ingredients {
      display: flex;
      flex-direction: column;
      gap: 20px;

      > div.ingredient-items {
        display: flex;
        align-items: center;
        gap: 14px;

        width: 100%;
        overflow-x: auto;

        > div.ingredient-item {
          display: flex;
          justify-content: center;
          align-items: center;

          min-width: 86px;
          height: 86px;
          border-radius: 14px;
          background-color: #faf5f5;
          color: #908888;
          font-size: 12px;
          font-weight: 600;
        }
      }
    }

    > div.price-cart {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 15px;
      margin-bottom: 57px;

      > p {
        font-size: 26px;
        font-weight: 600;
      }

      > button.add-to-cart {
        width: 275px;
        height: 48px;

        border: none;
        border-radius: 24px;

        background-color: #ff4f4f;
        color: #ffffff;

        text-transform: uppercase;
        font-size: 12px;
        font-weight: 700;
        cursor: pointer;
      }
    }
  }
}
