header {
  margin-top: 48px;
  height: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 16px;

  > h1 {
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 500;
  }
}
